@font-face {
  font-family: 'Barlow-bold';
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}
@font-face {
  font-family: 'Barlow-regular';
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Spectral_SC-bold';
  src: url(../fonts/Spectral_SC/SpectralSC-Bold.ttf);
}

@font-face {
  font-family: 'Faustina-regular';
  src: url(../fonts/Faustina/Faustina-Regular.ttf)
}
