/* Global Styling */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
}
/* Header Styling */
header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px 0px;
  background-image: url("../../img/sailboatsCropped.jpg");
  background-repeat: no-repeat;
}

header * {
  display: inline;
}

header img {
  /*height: 96px;
  width: 157px;
  flex: 1;
  margin-top: 10px;*/
  margin-left: 22px;
}

header h1 {
  flex: 1;
  font-size: 40px;
  margin-left: 20px;
  text-align: center;
}

header b {
  font-size: 60px;
}

menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
  background-color: #eee;
  margin: 0px;
  justify-content: space-between;
}

menu .logo {
  margin: 5px;
  /*width: 40px;*/
}

menu .nav-toggle {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

/* Navbar styling */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  background: #eee;
  /*justify-content: space-around;*/
}

#menu-toggle {display: none;}
.label-toggle {display: none;}

nav .icon {
  /*display: flex;*/
  flex: 1;
  text-align: center;
  padding:0px 10px;
  /*pointer-events: none;*/

}

nav .navItem {
  float: none;
  display: inline-block;
  width: auto;
  /*margin-left: .4em;*/
  /*margin-right: .2em;*/
}
nav a {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
    text-align: center;

}

nav a:hover {
    background-color: #ccc;
    color: #eee;
}

.mobile {
    display: none;
}


/* Main content styling */
.main {
  display: flex;
  /*align-items: center;*/
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding-bottom: 40px;
  background-color:
}

.main div {

}

.flagCol {
    flex: 1;
    padding-left: 20px;
    margin: 16px 0px;


}

.flagColLinks {
  /*background: #eee;*/

}

.flagColLinks a {
  display: block;
}

.infoCol {
    flex: 3;
    padding: 0px 20px;
}


@media (max-width: 768px) {
    header h1 {
        margin: 0px;
    }
    header h1 span {
        display: none;
    }
    header h1 b {
        font-size: 90px;
    }
    .navBar {
        position:fixed;
    }
    .main {
        text-align: center;
    }
    .flagCol {
        display: none;
    }

}

/* Media Queries for responsive design */
@media (max-width: 625px) {
    header {
        display: none;
    }
    .mobile {
        display: inline-flex;
        flex-basis: 5rem;
    }
    .mobile.menu {
        width: 5rem;
        flex: none;
    }

    nav {
      flex-direction: column;
        justify-content: space-around;
        /*position: fixed;*/
    }

    nav a {
          font-size: 1.7rem;
    }

    /*nav .navItem {
        display: none;
    }*/

    body {
        background-image: url("../../img/sailboats.jpg");
        background-repeat: no-repeat;
    }

    .flagCol {
        display: none;
    }



}
