/* Global Styling */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background-color: rgb(251, 251, 251);
}
/* Header Styling */
header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px 0px;
  background-image: url("../../img/sailboatsCropped.jpg") ;
  /*background-size: initial;*/
  background-repeat: no-repeat;
}

header * {
  display: inline;
}

header img {
  /*height: 96px;
  width: 157px;
  flex: 1;
  margin-top: 10px;*/
  margin-left: 22px;
}

header h1 {
  flex: 1;
  font-size: 40px;
  margin-left: 20px;
  text-align: center;
}

header b {
  font-size: 60px;
}

menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
  background-color: #e8eeff;
  margin: 0px;
  justify-content: space-between;
}

menu .logo {
  margin: 5px;
  /*width: 40px;*/
}

menu .nav-toggle {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.nav-bar {
  width: 100%;
  background: #e8eeff;
}

/* Navbar styling */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  /*background: #e8eeff;*/
  /*justify-content: space-around;*/
}

#menu-toggle {display: none;}
.label-toggle {display: none;}

nav .icon {
  /*display: flex;*/
  flex: 1;
  text-align: center;
  padding:0px 10px;
  /*pointer-events: none;*/

}

nav .navItem {
  float: none;
  display: inline-block;
  width: auto;
  /*margin-left: .4em;*/
  /*margin-right: .2em;*/
}
nav a {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
    text-align: center;

}

nav a:hover {
    /*background-color: #ccc;*/
    color: #aaa;
}

.mobile {
    display: none;
}


/* Main content styling */
.main {
  display: flex;
  /*align-items: center;*/
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding-bottom: 40px;

}

.main div {

}

.flagCol {
    flex: 1;
    padding-left: 20px;
    margin: 0px 16px 0px 0px;
    /*background-color: #e8eeff;*/


}

.flagColLinks {
  /*background: #eee;*/

}

.flagColLinks a {
  display: block;
}

.infoCol {
    flex: 3;
    /*padding: 0px 20px;*/
}
.infoCol p {
  padding: 0px 20px;
}

.infoSplash {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../../img/racing/secondWindCropped.jpg) no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 300px;
}
.infoSplash h2 {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

@media (max-width: 850px) {
  .infoSplash h2{
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
    header h1 {
        margin: 0px;
    }
    header h1 span {
        display: none;
    }
    header h1 b {
        font-size: 90px;
    }
    .navBar {
        position:fixed;
    }
    .main {
        text-align: center;
    }
    .flagCol {
        display: none;
    }

}

/* Media Queries for responsive design */
@media (max-width: 625px) {
    header {
        display: none;
    }
    .mobile {
        display: inline-flex;
        flex-basis: 5rem;
    }
    .mobile.menu {
        width: 5rem;
        flex: none;
    }

    nav {
      flex-direction: column;
        justify-content: space-around;
        /*position: fixed;*/
    }

    nav a {
          font-size: 1.7rem;
    }

    /*nav .navItem {
        display: none;
    }*/

    body {
        background: url("../../img/sailboats.jpg") no-repeat center center fixed;
        background-size: cover;
        /*background-repeat: no-repeat;*/
    }

    .flagCol {
        display: none;
    }

    .infoSplash {
      height: auto;
      background: none;
    }
    .infoSplash h2 {
      font-size: 2rem;
      color: black;
    }



}
