@media (max-width: 325px) {
    .events span {
        display: block;
    }
}

.upcomingEvents {
    background: rgba(238, 238, 238, 0.6);
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}

.upcomingEvents h3 {
    text-align: center;
}
