.racingInfo {
    text-align: center;
    width: 50%;
    margin: 0px auto;
}

.racing {
  background: url(../../img/racing/secondWindCropped.jpg) no-repeat;
  background-position: bottom;
  background-size: 100%;
}
/*.infoSplash {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../../img/racing/secondWindCropped.jpg) no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 300px;
}*/
/*.infoSplash h2 {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}*/


.raceLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.raceLinks a{
    margin: 5px;
    flex-grow: 1;
}

@media (max-width: 625px) {
  .infoSplash {
    height: auto;
    background: none;
  }
  .infoSplash h2 {
    font-size: 2rem;
    color: black;
  }

}
